<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  </head>
  <body>
    <div class="container ">
        <div class="row">
            {%for food in foods %}
                <div class="card m-2" style="width: 15rem;">
                    <div class="card-header">{{food.name}}</div>
                <!-- <img src="..." class="card-img-top" alt="..."> -->
                    <div class="card-body mx-auto">
                        <div class="card-text">Region : {{food.region}}</div>
                        <div class="card-text">{{food.taset}}</div>
                        <div class="card-text">Price : {{food.price}}</div>
                        <form action="{% url  'foodOrder:updateQuantity' food.id %}" method="POST" class="container">
                            {% csrf_token %}
                            <div class="row my-1 text-center">
                                <button type="submit" class="btn btn-sm btn-secondary col" name="action" value="decrease">-</button>
                                <div class="card-text col">{{food.quantity}}</div>
                                <button type="submit" class="btn btn-sm btn-secondary col" name="action" value="increase">+</button>
                            </div>
                            
                            <div class="row">

                                <button type="submit" class="btn btn-primary w-full" name="action" value="add">Add to Cart</button>
                            </div>
                        </form>
                    </div>
                </div>
            {%endfor%}
        </div>
    </div>
    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
  </body>
</html>